doctype html
html(lang="en")
  head
    title xpug.city
    meta(charset="utf-8")
    link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Rubik")
    link(rel="stylesheet" href="/min.css")
    link(rel="icon" href="/favicon.png" type="image/png" )
    script(src="/min.js")
  body
    h1 Coming soon...
